<!DOCTYPE html>
<html>
    <head>
        <title>Edit Product</title>
    </head>
    <body>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Edit Product name:</label>
                <input type="text" name="name" id="name" placeholder="name" value="<%= product.name %>" />
            </div>
            <div>
                <label for="price">Enter price in Rs:</label>
                <input type="number" name="price" id="price" value="<%= product.price %>">
            </div>
            <div>
                <label for="category">Enter Category:</label>
                <select name="category" id="category">
                    <% for(let category of categories){ %>
                        <option value="<%= category %>" <%= product.category === category ? 'selected':'' %>><%= category %></option>
                    <% } %>
                </select>
            </div>
            <button>Edit</button>
        </form>
        <button><a href="/products/<%= product.id %>">Cancel</a></button>
    </body>
</html>