<%- include('partials/head') %>
    
        <%- include('partials/navbar') %>
        <h1>Home <%= 4 + 5 + 1%></h1>
        <h2><%= "Hello World".toUpperCase() %></h2>
<%- include('partials/footer') %>